<!-- year, name -->
<footer>
  <div class="mt-16 flex flex-col items-center">
    <div class="mb-2 text-sm text-gray-500">
      <span>(C) {{year}}. {{name}} all rights reserved.</span>
    </div>

    <div class="mb-8 text-sm text-gray-500">
      <span class="mr-1">Built with</span>
      <a
        class="font-semibold underline"
        href="https://github.com/discaptive/minimic-discaptive"
        target="_blank"
        rel="noreferrer"
      >
        minimic-discaptive
      </a>
    </div>
  </div>
</footer>
