<!-- name, resume, github -->
<header class="sticky top-0 z-10 border-b border-black/5 bg-white">
  <div class="flex h-14 items-center justify-between">
    <a
      class="p-2 flex flex-shrink-0 items-center gap-2"
      aria-label="Home"
      href="/"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_23_3)">
          <circle cx="10" cy="10" r="10" fill="black" />
          <path
            d="M17.5 10C17.5 5.85786 14.1421 2.5 10 2.5V10H17.5Z"
            fill="#92487E"
          />
          <path
            d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10H10V17.5Z"
            fill="#D55D45"
          />
          <path
            d="M10 2.5C5.85786 2.5 2.5 5.85786 2.5 10H10V2.5Z"
            fill="#51519F"
          />
          <path
            d="M2.5 10C2.5 14.1421 5.85786 17.5 10 17.5V10H2.5Z"
            fill="black"
          />
          <path
            d="M9.6875 17.1808C5.96655 17.0217 2.97835 14.0335 2.81917 10.3125H9.6875V17.1808ZM9.6875 9.6875H2.81917C2.97835 5.96655 5.96655 2.97835 9.6875 2.81917V9.6875ZM10.3125 17.1808V10.3125H17.1808C17.0217 14.0335 14.0335 17.0217 10.3125 17.1808ZM17.1808 9.6875H10.3125V2.81917C14.0335 2.97835 17.0217 5.96655 17.1808 9.6875Z"
            stroke="white"
            stroke-width="0.625"
          />
        </g>
        <defs>
          <clipPath id="clip0_23_3">
            <rect width="20" height="20" rx="10" fill="white" />
          </clipPath>
        </defs>
      </svg>

      <span class="font-medium">{{name}}</span>
    </a>

    <div class="flex items-center gap-2">
      <a
        href="{{resume}}"
        target="_blank"
        class="group relative px-1.5 text-sm text-indigo-800"
      >
        <span
          class="absolute inset-0 border border-dashed border-indigo-300/60 bg-indigo-400/10 group-hover:bg-indigo-400/15 dark:border-indigo-300/30"
        >
        </span>
        resume.pdf
        <svg
          width="5"
          height="5"
          viewBox="0 0 5 5"
          class="absolute top-[-2px] left-[-2px] fill-indigo-300"
        >
          <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
        </svg>
        <svg
          width="5"
          height="5"
          viewBox="0 0 5 5"
          class="absolute top-[-2px] right-[-2px] fill-indigo-300"
        >
          <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
        </svg>
        <svg
          width="5"
          height="5"
          viewBox="0 0 5 5"
          class="absolute bottom-[-2px] left-[-2px] fill-indigo-300"
        >
          <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
        </svg>
        <svg
          width="5"
          height="5"
          viewBox="0 0 5 5"
          class="absolute right-[-2px] bottom-[-2px] fill-indigo-300"
        >
          <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
        </svg>
      </a>

      <a
        class="p-2 fill-black/40 hover:fill-black"
        aria-label="GitHub Repository"
        href="https://github.com/{{github}}"
        target="_blank"
      >
        <svg viewBox="0 0 20 20" class="size-5">
          <path
            d="M10 0C4.475 0 0 4.475 0 10a9.994 9.994 0 006.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.287-.6-1.175-1.025-1.412-.35-.188-.85-.65-.013-.663.788-.013 1.35.725 1.538 1.025.9 1.512 2.337 1.087 2.912.825.088-.65.35-1.088.638-1.338-2.225-.25-4.55-1.112-4.55-4.937 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.274.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 012.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0020 10c0-5.525-4.475-10-10-10z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</header>
